@use '../../styles/variables'as *;

.tabs-container {
    width: 98%;
    padding: 8px;
    margin: 20px auto;

    .tabs-buttons-bar {
        display: none;
        /* Escondemos los botones de escritorio en celulares */
    }

}



.tabs-mobile-select-wrapper {
    display: block;
    /* Mostramos el select en celulares */
    position: relative;
    margin-bottom: 20px;
}

/* Estilos para tu Custom Select (Imitando tu diseño) */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    cursor: pointer;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: $color-surface;
    border: 1px solid #ccc;
    border-radius: 6px;

    .fa-angle-up,
    .fa-angle-down {
        color: $color-secondary;
        font-size: 16px;
    }
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $color-surface;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
    border-radius: 0 0 6px 6px;
    max-height: 200px;
    overflow-y: auto;
}

.custom-option {
    display: block;
    padding: 12px;
    cursor: pointer;
}

.custom-option:hover,
.custom-option.selected {
    background-color: $color-legend;
    color: $color-text-black;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {

    .tabs-mobile-select-wrapper {
        display: none;
        /* Escondemos el select en pantallas grandes */
    }

    .tabs-container {
        width: 98%;
        padding: 8px;
        margin: 80px auto;
        display: flex;
        gap: 2.5rem;
        max-width: 1280px;

        .tabs-buttons-bar {
            @include flexCenter(row);
                    justify-content: flex-start;
        flex-direction: column;
            margin: auto;
            flex-wrap: wrap;
            margin-top: 0px;
        width: 280px;
            gap: 10px;
            margin-bottom: 20px;
            background-color: $color-surface;
            height: fit-content;
            border-radius: 4px;
            padding: 1rem;
        }

        .tab-button {
            text-decoration: none;
            color: $color-legend;
            font-weight: 500;
            font-size: 16px;
            padding: 1rem 0.5rem 1rem;
            height: auto;
            display: inline-flex;
            background-color: transparent;
            border: none;

            &.active {
                background-color: $color-legend;
                color: $color-text-white;
                transition: none !important;
                font-weight: 600;
                border-radius: 4px;
                padding: 0.5rem;
            }
        }
    }

}