$color-bg: #0f111a;
$color-surface: #0e141f;
$color-text-black: #000000;
$color-text-white: #ffffff;
$color-text-muted: #687381;
$color-primary: #166871; 
$color-secondary: #063b70;
$color-accent: #00e5ff; 
$color-legend: #07b2c5; 

@mixin flexCenter ($direct) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direct;
}